<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="shadow w-3/5 mx-auto overflow-hidden rounded border-gray-200">
    <table>
        <tr>
            <td>
                <app-color-list [items]="item_colors" (select)="onSelect($event)"></app-color-list> <!-- Hier wordt de color list afgebeeld-->
            </td>

        </tr>
        <tr>
            <td>
                <app-color-square [afbeelding]="item_images[selected_item]" ></app-color-square> <!-- Hier wordt de color square / afbeelding afgebeeld-->
            </td>
        </tr>
    </table>
</div>


<!-- de table werkt voor de een of andere reden niet.-->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->